/postgres
/logs

/humhub/assets
/humhub/protected/config/dynamic.php
/humhub/protected/runtime
/humhub/uploads
/Demonstrator/out
/Demonstrator/target
/Demonstrator/.idea/workspace.xml
humhub/protected/modules/birthday/
humhub/protected/modules/calendar/
humhub/protected/modules/cfiles/
humhub/protected/modules/mostactiveusers/
humhub/protected/modules/polls/
humhub/protected/modules/tasks/