$brand-primary: #1abc9c;

@import "node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../fonts";

@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "node_modules/simplemde/dist/simplemde.min";

html.chat, html.chat body {
  height: 100%;
}

.main-header {
  background: $brand-primary;
  color: #fff;

  & .jumbotron {
    background: transparent;
  }
}

body {
  padding-top: 50px;
}

.login {
  background: #eceeef;
}

.login-box {
  background: #fff;
  padding: 20px 10px 10px 10px;
  border: 1px solid #d0d5d8;
  border-radius: 3px;
}

$box-height: 36px + 2*3px + 2px;
$container-height: 3.5 * $box-height;

.friends {
  max-height: $container-height;
  overflow-y: auto;
}

.friend {

  padding: 3px;
  border: 1px solid $gray-lighter;
  border-bottom: none;
  border-radius: 1px;

  cursor: pointer;

  &:hover {
    background-color: $gray-lightest;
  }

  &.active {
    background-color: $gray-lighter;
  }

  & .checkbox {
    width: 16px;
  }

  &:last-child {
    border-bottom: 1px solid $gray-lighter;
  }
}

.friend img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.participants img {
  width: 28px;
  height: 28px;
}

.conversation-list {
  max-height: 50vh;
  overflow-y: auto;
}

.messages {
  max-height: 50vh;
  overflow: scroll;
  border: 1px solid #E5E5EA;
  padding: 10px;
}

.conversation-info {
  margin-bottom: 0;
}

.message-box {
  margin-bottom: 20px;
}

.message-editor {
  padding: 10px;
}

.from-me .message {
  position: relative;
  padding: 10px 20px;
  color: white;
  background: $brand-primary;
  border-radius: 25px;
}

.from-me .message.pending {
  background: #8DDECE;
}

.from-me .message:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -2px;
  right: -7px;
  height: 20px;
  border-right: 20px solid $brand-primary;
  border-bottom-left-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.from-me .message.pending:before {
  border-right-color: #8DDECE;
}

.from-me .message:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -2px;
  right: -56px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.from-them .message {
  position: relative;
  padding: 10px 20px;
  background: #E5E5EA;
  border-radius: 25px;
  color: black;
}

.from-them .message:before {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: -2px;
  left: -7px;
  height: 20px;
  border-left: 20px solid #E5E5EA;
  border-bottom-right-radius: 16px 14px;
  -webkit-transform: translate(0, -2px);
}

.from-them .message:after {
  content: "";
  position: absolute;
  z-index: 3;
  bottom: -2px;
  left: 4px;
  width: 26px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
  -webkit-transform: translate(-30px, -2px);
}

.author {
  font-size: 12px;
  padding-left: 20px;
}

.time {
  text-align: right;
  font-size: 10px;
}

.btn-lg {
  padding: 13px 16px;
}

.advanced-search {
  margin-bottom: 10px;
}

.modal {
  .CodeMirror {
    z-index: $zindex-modal + 1;
  }

  .CodeMirror-fullscreen, .editor-toolbar.fullscreen, .editor-preview-side {
    z-index: $zindex-modal + 9;
  }

  .editor-preview {
    z-index: $zindex-modal + 7;
  }
}


.CodeMirror {
  min-height: 150px;
  height: 150px;
}